<p class="text-md-center fs-3 text-decoration-underline">Ask your coach</p>

<form action="answer" data-turbo="false" class="text-md-center">
  <input type="text" name="question" placeholder="Please enter your question.">
  <input type="submit" value="Ask!" class="btn btn-light">
</form>
